/* Стили для модального окна скриншотов */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* уменьшаем плотность, чтобы было видно блюр */
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);      /* Сам блюр */
    -webkit-backdrop-filter: blur(5px); /* Поддержка для Safari */
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 16px;
    user-select: none;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}
